@import "_include-media.scss";

@include media(">=desktop") {
    .category-card {
        border-radius: 20px;
        background-color: #FFB703;
        margin-bottom: 2rem;
        width: 1000px;

        .container-activities {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .activity-card {
            background-color: #FB8500;
            margin: 1em;
            border-radius: 20px;
            padding: 1em;
        }

        .activity-title {
            background-color: #FB8500;
            border-radius: 20px;
            width: 280px;
        }

        .category-heading {
            background-color: #FB8500;
            border-radius: 20px;
            height: 44px;
            display: flex;
            justify-content: space-evenly;
        }

        .category-icon {
            align-self: center;
        }

        .category-card-title {
            background-color: #FB8500;
            align-self: center;
        }

        .category-card-title h2 {
            margin-bottom: 0%;
        }

        .activity-type {
            background-color: #FB8500;
        }

        .activity-description {
            background-color: #fc9c00;
            border-radius: 5px;
            padding: 1em;
            overflow: hidden;
            position: relative;
            margin: 5px;
        }

        .activity-description .full {
            display: none;
        }

        .show-more {
            position: absolute;
            bottom: 0.5em;
            right: 0.5em;
            cursor: pointer;
        }

        .activity-description.expanded .full {
            display: block;
        }

        .activity-description.expanded .initial {
            display: none;
        }

        .dropdown-content {
            display: none;
        }

        .dropdown-content.expanded {
            display: block;
        }

        .dropdown-content.expanded ~ .category-heading {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .expand-btn {
            display: flex;
        }
    }
}

@include media("<desktop") {
    .category-card {
        width: 700px;

        .container-activities {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .activity-card {
            background-color: #FB8500;
            margin: 1em;
            border-radius: 20px;
            padding: 1em;
        }

        .activity-title {
            background-color: #FB8500;
            border-radius: 20px;
            width: 280px;
        }

        .category-heading {
            background-color: #FB8500;
            border-radius: 20px;
            height: 44px;
            display: flex;
            justify-content: space-evenly;
        }

        .category-icon {
            align-self: center;
        }

        .category-card-title {
            background-color: #FB8500;
            align-self: center;
        }

        .category-card-title h2 {
            margin-bottom: 0%;
        }

        .activity-type {
            background-color: #FB8500;
        }

        .activity-description {
            background-color: #fc9c00;
            border-radius: 5px;
            padding: 1em;
            overflow: hidden;
            position: relative;
            margin: 5px;
        }

        .activity-description .full {
            display: none;
        }

        .show-more {
            position: absolute;
            bottom: 0.5em;
            right: 0.5em;
            cursor: pointer;
        }

        .activity-description.expanded .full {
            display: block;
        }

        .activity-description.expanded .initial {
            display: none;
        }

        .dropdown-content {
            display: none;
        }

        .dropdown-content.expanded {
            display: block;
        }

        .dropdown-content.expanded ~ .category-heading {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .expand-btn {
            display: flex;
        }
    }
}

@include media("<tablet") {
    .category-card {
        border-radius: 20px;
        background-color: #FFB703;
        margin-bottom: 2rem;
        width: 320px;
    }
}
