@import "_include-media.scss";

.tab-phone-add{
  display: none;
}

.title-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.category-card {
  border-radius: 20px;
  background-color: #ffb703;
  margin-bottom: 2rem;
  width: 50em; // Default width for larger screens
  margin-left: 0em;
}

.container-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.activity-card {
  background-color: #fb8500;
  margin: 1em;
  border-radius: 20px;
  padding: 1em;
}

.activity-title {
  background-color: #fb8500;
  border-radius: 20px;
  width: auto;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.category-heading {
  background-color: #fb8500;
  border-radius: 20px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
}

.category-icon {
  align-self: center;
}

.category-card-title {
  background-color: #fb8500;
  align-self: center;
}

.category-card-title h2 {
  margin-bottom: 0%;
}

.activity-type {
  background-color: #fb8500;
}

.activity-description {
  background-color: #fc9c00;
  border-radius: 5px;
  padding: 1em;
  overflow: hidden;
  position: relative;
  margin: 5px;
}

.activity-description .full {
  display: none;
}

.show-more {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.activity-description.expanded .full {
  display: block;
}

.activity-description.expanded .initial {
  display: none;
}

.dropdown-content {
  display: none;
}

.dropdown-content.expanded {
  display: block;
}

.dropdown-content.expanded ~ .category-heading {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expand-btn {
  display: flex;
}


// sidebar styling only on desktop or large tablets
.sidebar {
  margin: 0;
  margin-left: 1em;
  // margin-top: 5em;
  padding: 0;
  padding-top: 5em;
  padding-right: 1em;
  width: auto;
  position: fixed;
  height: 100vh;
  overflow: auto;
  left: 0;
  top: 0;
  border-right: 0.5em solid #219ebc; /* Adjust thickness and color as needed */
  display: none; // Initially hide sidebar
}

.sidebar .add-act-side {
  padding-left: 1em;
}

.sidebar a.add-act-side:hover:not(.active) {
  background-color: #f5ebe0;
  padding-left: 1em;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #023047;
  padding: 1em;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: #023047;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #219ebc;
  color: #023047;
}

.sidebar .add {
  background-color: #219ebc;
  font-weight: bold;
}

.sidebar .add:hover {
  background-color: #fb8500;
}

@include media(">=desktop") {
  .sidebar {
    display: block; // Show sidebar on screens bigger than desktop size
  }

  .category-card {
    width: 40em;
    margin-left: 0; // Adjusting margin for smaller screens
  }
}

@include media(">=desktop", "<=1150px"){
  .container-activities{
    margin-left: 10em;
  }
  
  .category-card {
    width: 40em;
    margin-left: 0; // Adjusting margin for smaller screens
  }
  .sidebar {
    display: block; // Show sidebar on screens bigger than desktop size
  }
}

@include media(">=1150px", "<=1300px"){
  .container-activities{
    margin-left: 10%;
  }

  .category-card {
    width: 40em;
    margin-left: 0; // Adjusting margin for smaller screens
  }
}


@include media("<desktop") {
  .category-card {
    width: 700px;
    margin-left: 0; // Adjusting margin for smaller screens
  }

  .category-heading {
    padding-left: 2em; // Adjusting padding for smaller screens
    padding-right: 2em; // Adjusting padding for smaller screens
  }

  .sidebar {
    display: none; // Hide sidebar on desktop and smaller screens
  }
  
  .tab-phone-add{
    display: block;
    background-color: #219ebc;
    font-weight: bold;
  }
}

@include media("<tablet") {
  .category-card {
    width: 320px; // Adjusting width for tablets
  }
}


*{
  margin: 0;
  padding: 0;
}
.icon-edit-delete{
  display: flex;
  justify-content: space-between;
  margin-top:0.5em;
}

// delete button
.delete-button {
  width: 6em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
}

.delete-button, .delete-button .text, .delete-button .icon {
  transition: 200ms;
}

.delete-button .text {
  transform: translateX(0.5em);
  color: white;
  font-weight: bold;
}

.delete-button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(4em);
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button svg {
  width: 1em;
  fill: #eee;
}

.delete-button:hover {
  background: #ff3636;
}

.delete-button:hover .text {
  color: transparent;
}

.delete-button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(-1.5em);
}

.delete-button:focus {
  outline: none;
}

.delete-button:active .icon svg {
  transform: scale(0.8);
}


// edit button
.edit-btn{
  background-color: #219ebc;
  width: 4em;
  height: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
}

.edit-text{
  color: #023047;
  align-self: center;
  font-weight: bold;
}