@import "_include-media.scss";


.nav-wom {
    @include media("<tablet"){
        background-color: #219EBC;
        height: 3rem;
    }

    background-color: red;
    height: 15%;
    
}

.cat-toggler {
    @include media("<tablet"){
        
    }
}