@import "_include-media.scss";

.form-container {
    background-color: #FFB703;
    width: 60%;
    margin-top: 1em;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 4em;
    border-style: solid;
    border-color: #023047;

    .checkbox-submit{
        display: flex;
        flex-direction: column;
    }
    
    h3 {
        margin-bottom: 5%;
    }
    
    .form-control {
        background: #FDA138;
        border-radius: 20px;
        height: 4em;
        border-color: #023047;
    }
    
    @include media("<tablet"){
        .form-control{
            height: 2.5em;
        }
    }

    #title.form-control{
        margin-bottom: 1em;
    }

    .form-control .description{
        height: 8em;
    }
    
    .btn-submit {
        border-radius: 15px;
        height: auto;
        background-color: #FDA138;
        color: #023047;
        padding: 0.5em;
        // line-height: 10px; // Match the height of the button
        display: flex;
        justify-content: center;
        font-weight: bold;
        border-color: #219ebc;
        align-self: center;
        margin-top: 1em;
    }
    
    .already {
        margin-top: 5%;
    }
    
    .checkbox-container {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 1em;
        padding-left: 1em;

        @include media("<tablet"){
            grid-template-columns: 1fr 1fr;
        }
    }
    
    .form-check-input {
        position: absolute;
        color: #023047;
    }
    @include media("<desktop"){
        width: 90%;
    }

}
