.form-container {
    background-color: #FFB703;
    width: 60%;
    margin-top: 1em;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 4em;

    @include media("<desktop") {
        width: 90%;
    }

    h3 {
        // font-size: 20px;
        margin-bottom: 5%;
    }

    .form-control {
        background: #FDA138;
        border-radius: 20px;
        height: 4em;
        border-color: #023047;
    }

    .form-control .description{
        height: 8em;
    }

    .btn-primary {
        border-radius: 15px;
        height: auto;
        background-color: #FDA138;
        color: #023047;
        padding: 0.5em;
        // line-height: 10px; // Match the height of the button
        display: flex;
        justify-content: center;
    }

    .already {
        margin-top: 5%;
    }

    .checkbox-container {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
    }

    .form-check-input {
        position: relative;
        color: #023047;
    }
}
