.tab-phone-add {
  display: none;
}

.title-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.category-card {
  border-radius: 20px;
  background-color: #ffb703;
  margin-bottom: 2rem;
  width: 50em;
  margin-left: 0em;
}

.container-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.activity-card {
  background-color: #fb8500;
  margin: 1em;
  border-radius: 20px;
  padding: 1em;
}

.activity-title {
  background-color: #fb8500;
  border-radius: 20px;
  width: auto;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.category-heading {
  background-color: #fb8500;
  border-radius: 20px;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10em;
  padding-right: 10em;
}

.category-icon {
  align-self: center;
}

.category-card-title {
  background-color: #fb8500;
  align-self: center;
}

.category-card-title h2 {
  margin-bottom: 0%;
}

.activity-type {
  background-color: #fb8500;
}

.activity-description {
  background-color: #fc9c00;
  border-radius: 5px;
  padding: 1em;
  overflow: hidden;
  position: relative;
  margin: 5px;
}

.activity-description .full {
  display: none;
}

.show-more {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.activity-description.expanded .full {
  display: block;
}

.activity-description.expanded .initial {
  display: none;
}

.dropdown-content {
  display: none;
}

.dropdown-content.expanded {
  display: block;
}

.dropdown-content.expanded ~ .category-heading {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expand-btn {
  display: flex;
}

.sidebar {
  margin: 0;
  margin-left: 1em;
  padding: 0;
  padding-right: 1em;
  width: 200px;
  position: fixed;
  height: 100vh;
  overflow: auto;
  left: 0;
  border-right: 0.5em solid #219ebc; /* Adjust thickness and color as needed */
  display: none;
}

.sidebar .add-act-side {
  padding-left: 1em;
}

.sidebar a .add-act-side:hover {
  background-color: #f5ebe0;
  padding-left: 1em;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #023047;
  padding: 1em;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar .add {
  background-color: #219ebc;
}

.sidebar .add:hover {
  background-color: #555;
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
  .category-card {
    width: 40em;
    margin-left: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1150px) {
  .container-activities {
    margin-left: 10em;
  }
  .category-card {
    width: 40em;
    margin-left: 0;
  }
  .sidebar {
    display: block;
  }
}
@media (min-width: 1150px) and (max-width: 1300px) {
  .container-activities {
    margin-left: 10%;
  }
  .category-card {
    width: 40em;
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .category-card {
    width: 700px;
    margin-left: 0;
  }
  .category-heading {
    padding-left: 2em;
    padding-right: 2em;
  }
  .sidebar {
    display: none;
  }
  .tab-phone-add {
    display: block;
  }
}
@media (max-width: 767px) {
  .category-card {
    width: 320px;
  }
}/*# sourceMappingURL=activity-card.css.map */