{% extends "base.html" %} {% block title %} Activities {% endblock %}

{% block content %}
<div class="sidebar">
    <a class="add-act-side" href="{{ url_for('views.add_activity') }}">
        <span class="btn add">Add activity</span>
    </a>
    <h3>Jump to...</h3>
{% if user.activities %}
    {% if user.activities|selectattr('nightlife', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#nightlife-link' }}"><h4>Nightlife</h4></a>
    {% endif %}
    {% if user.activities|selectattr('restaurant', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#restaurant-link' }}"><h4>Restaurant</h4></a>
    {% endif %}
    {% if user.activities|selectattr('activity', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#activity-link' }}"><h4>Activity</h4></a>
    {% endif %}
    {% if user.activities|selectattr('bakery', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#bakery-link' }}"><h4>Bakery</h4></a>
    {% endif %}
    {% if user.activities|selectattr('adult_ent', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#adult_ent-link' }}"><h4>Adult Entertainment</h4></a>
    {% endif %}
    {% if user.activities|selectattr('nightclub', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#nightclub-link' }}"><h4>Nightclub</h4></a>
    {% endif %}
    {% if user.activities|selectattr('music_venue', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#music_venue-link' }}"><h4>Music Venue</h4></a>
    {% endif %}
    {% if user.activities|selectattr('comedy_club', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#comedy_club-link' }}"><h4>Comedy Club</h4></a>
    {% endif %}
    {% if user.activities|selectattr('outdoors', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#outdoors-link' }}"><h4>Outdoors</h4></a>
    {% endif %}
    {% if user.activities|selectattr('visited', 'equalto', true)|list %}
        <a class="dropdown-item" href="{{ url_for('views.activities') + '#visited-link' }}"><h4>Visited</h4></a>
    {% endif %}
{% endif %}

  
</div>
<div class="container-activities">
    <div class="title-add">
            <h2 align="center">Activities</h2>
            <a class="tab-phone-add" href="{{ url_for('views.add_activity') }}">
                <span class="badge badge-warning">Add activity</span>
            </a>
    </div>
        <ul class="list-group list-group-flush" id="activities">
        {% set categories = {
            'nightlife': 'mob-nightlife-icon.svg',
            'restaurant': 'mob-restaurant-icon.svg',
            'bakery': 'mob-bakery-icon.svg',
            'activity': 'mob-activity-icon.svg',
            'adult_ent': 'mob-adult-ent-icon.svg',
            'nightclub': 'mob-nightclub-icon.svg',
            'music_venue': 'mob-music-venue-icon.svg',
            'comedy_club': 'mob-comedy-club-icon.svg',
            'outdoors': 'mob-outdoors-icon.svg',
            'visited': 'mob-visited-icon.svg'
        } %}


        {% for category in categories %}
            {% set category_activities = user.activities|selectattr(category, 'equalto', true)|list %}
            {% if category_activities %}
                
                <div class="category-card">
                    <a id="{{ category }}-link"></a>
                    <div class="category-heading">
                        <div class="category-icon">
                            <img src="/static/media/category-icons/{{ categories[category] }}" alt="">
                        </div>
                        <div class="category-card-title"><h2>{{ category.capitalize() }}</h2></div>
                        <div class="expand-btn" data-category="{{ category }}">
                            <i class="fas fa-chevron-down fa-align-center fa-3x" style="padding-top: 5%;"></i> <!-- Assuming you're using Font Awesome for icons -->
                        </div>
                    </div>
                    <div class="dropdown-content" id="{{ category }}-dropdown">
                        {% for activity in category_activities %}
                            <div class="activity-card">
                                <div class="activity-title"><h3>{{ activity.title }}</h3></div>
                                <div class="activity-type">
                                    {# Display other activity types as needed #}
                                </div>
                                <div class="activity-description">
                                    <h4 class="initial">{{ activity.description | truncate(70) }}</h4> <!-- Display initial portion of description -->
                                    <h4 class="full">{{ activity.description }}</h4> 
                                    <div class="show-more">
                                        <i class="fa-solid fa-circle-chevron-down fa-xl"></i> <!-- Icon for "Show More" -->
                                    </div>                                
                                </div>



                                <div class="icon-edit-delete">
                                    <!-- <img src="/static/media/category-icons/{{ categories[category] }}" alt=""> -->
                                    <button type="button" class="close" onClick="confirmDelete({{ activity.id }})">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                                        <span class="badge badge-warning">Edit</span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            
            {% endif %}
        {% endfor %}
    </ul>
    </div>   

    <nav class="nav-wom-bottom" id="nav-wom-bottom">
        <a class="navbar-brand" href="#"><h2>Built by Daniel Ferree</h2></a>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/dferree/"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
          <a href="https://github.com/dferree"><i class="fa-brands fa-github fa-2x"></i></a>
        </div>
      </nav>
 
{% endblock %}

