{% extends "base.html" %} {% block title %} Activities {% endblock %}
{% block content %}
<form method="POST">
    <label for="title">Activity Title:</label>
    <input type="text" id="title" name="title" class="form-control" required>
    
    <label for="description">Activity Description:</label>
    <textarea name="description" id="description" class="form-control" required></textarea>
    <label>
        <input type="checkbox" name="nightlife"> Nightlife
    </label>
    <label>
        <input type="checkbox" name="restaurant"> Restaurant
    </label>
    <label>
        <input type="checkbox" name="bakery"> Bakery
    </label>
    <label>
        <input type="checkbox" name="activity"> Activity
    </label>
    <label>
        <input type="checkbox" name="adult_ent"> Adult Entertainment
    </label>
    <label>
        <input type="checkbox" name="nightclub"> Nightclub
    </label>
    <label>
        <input type="checkbox" name="music_venue"> Music Venue
    </label>
    <label>
        <input type="checkbox" name="comedy_club"> Comedy Club
    </label>
    <label>
        <input type="checkbox" name="outdoors"> Outdoors
    </label>
    <label>
        <input type="checkbox" name="visited"> Visited
    </label>

    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add activity</button>
    </div>
</form>
{% endblock %}