{% extends "base.html" %} {% block title %} Activities {% endblock %}
{% block content %}

<h1>Add Activity</h1>
<div class="form-container">
<form method="POST">
    <label for="title">Activity Title:</label>
    <input type="text" id="title" name="title" class="form-control" required>
    
    <label for="description">Activity Description:</label>
    <textarea name="description" id="description" class="form-control" style="height: 6em;" required></textarea>
   
    <div class="checkbox-container">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="nightlife" name="nightlife" value="something">
            <label class="form-check-label" for="nightlife">Nightlife</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="restaurant" name="restaurant">
            <label class="form-check-label" for="restaurant">Restaurant</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="bakery" name="bakery">
            <label class="form-check-label" for="bakery">Bakery</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="activity" name="activity">
            <label class="form-check-label" for="activity">Activity</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="adult_ent" name="adult_ent">
            <label class="form-check-label" for="adult_ent">Adult Entertainment</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="nightclub" name="nightclub">
            <label class="form-check-label" for="nightclub">Nightclub</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="music_venue" name="music_venue">
            <label class="form-check-label" for="music_venue">Music Venue</label>
        </div>

        <div class="form-check">
            <input class="form-check-input custom" type="checkbox" id="comedy_club" name="comedy_club">
            <label class="form-check-label" for="comedy_club">Comedy Club</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="outdoors" name="outdoors">
            <label class="form-check-label" for="outdoors">Outdoors</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="visited" name="visited">
            <label class="form-check-label" for="visited">Visited</label>
        </div>
    </div>

    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add activity</button>
    </div>
</form>
</div>

<nav class="nav-wom-bottom" id="nav-wom-bottom">
    <a class="navbar-brand" href="#"><h2>Built by Daniel Ferree</h2></a>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/dferree/"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
      <a href="https://github.com/dferree"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
</nav>
{% endblock %}