<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <!-- remove when component styling complete and compiled on index  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/activity-card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sign_up.css') }}">
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <script src="https://kit.fontawesome.com/af746f2538.js" crossorigin="anonymous"></script>

    <nav class="nav-wom">
      <div class="cat-toggler">
        <button class="nav-logo-btn" type="button" id="cat-dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu cat" aria-labelledby="cat-dropdownMenuButton">
          {% if user.is_authenticated %}
          {% if user.activities %}
              {% if user.activities|selectattr('nightlife', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#nightlife-link' }}"> <h2>Nightlife</h2></a>
              {% endif %}
              {% if user.activities|selectattr('restaurant', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#restaurant-link' }}"><h2>Restaurant</h2></a>
              {% endif %}
              {% if user.activities|selectattr('activity', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#activity-link' }}"><h2>Activity</h2></a>
              {% endif %}
              {% if user.activities|selectattr('bakery', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#bakery-link' }}"><h2>Bakery</h2></a>
              {% endif %}
              {% if user.activities|selectattr('adult_ent', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#adult_ent-link' }}"><h2>Adult Entertainment</h2></a>
              {% endif %}
              {% if user.activities|selectattr('nightclub', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#nightclub-link' }}"><h2>Nightclub</h2></a>
              {% endif %}
              {% if user.activities|selectattr('music_venue', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#music_venue-link' }}"><h2>Music Venues</h2></a>
              {% endif %}
              {% if user.activities|selectattr('comedy_club', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#comedy_club-link' }}"><h2>Comedy Club</h2></a>
              {% endif %}
              {% if user.activities|selectattr('outdoors', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#outdoors-link' }}"><h2>Outdoors</h2></a>
              {% endif %}
              {% if user.activities|selectattr('visited', 'equalto', true)|list %}
                  <a class="dropdown-item" href="{{ url_for('views.activities') + '#visited-link' }}"><h2>Visited</h2></a>
              {% endif %}
            {% endif %}
          {% else %}
            <a class="dropdown-item" id="login" href="/login">Login to view categories</a>  
          {% endif %}
        </div>
      </div>

      <div> <h1> Word of Mouth </h1></div>

      <div class="nav-menu-button">
        <div class="nav-menu" onclick="menuChange(this)" type="button" id="nav-dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>

        <div class="dropdown-menu slide" aria-labelledby="nav-dropdownMenuButton">
          {% if user.is_authenticated %}
          <a class="dropdown-item" id="home" href="/activities">View activities</a>
          <a class="dropdown-item" id="add_activity" href="/add-activity">Add activity</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="dropdown-item" id="login" href="/login">Login</a>
          <a class="dropdown-item" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>

    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %} 

    </div>

    

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for ('static', filename='index.js') }}"
    ></script>
  </body>
</html>