{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content %}
<h1 align="center">Activities</h1>
<ul class="list-group list-group-flush" id="activities">
    {% for activity in user.activities %}
        <li class="list-group-item">{{ activity.title}}</li>
        <li class="list-group-item">{{ activity.description}}</li>

        {% if activity.nightlife %}
                <li class="list-group-item">Nightlife</li>
            {% endif %}
        {% if activity.restaurant %}
            <li class="list-group-item">Restaurant</li>
        {% endif %}
        {% if activity.activity %}
            <li class="list-group-item">Activity</li>
        {% endif %}
        {% if activity.adult_ent %}
            <li class="list-group-item">Adult Entertainment</li>
        {% endif %}
        {% if activity.nightclub %}
            <li class="list-group-item">Nightclub</li>
        {% endif %}
        {% if activity.music_venue %}
            <li class="list-group-item">Music Venue</li>
        {% endif %}
        {% if activity.comedy_club %}
            <li class="list-group-item">Comedy Club</li>
        {% endif %}
        {% if activity.outdoors %}
            <li class="list-group-item">Outdoors</li>
        {% endif %}
        {% if activity.visited %}
            <li class="list-group-item">Visited</li>
        {% endif %}

        <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    {% endfor %}
</ul>
<a href="{{ url_for('views.add_activity') }}">
    <span class="badge badge-warning">Add activity</span>
</a>
{% endblock %}