{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content %}
<h1 align="center">Activities</h1>
<ul class="list-group list-group-flush" id="activities">
    <div class="category-card">
        <a id="nightlife-link"></a>
        <div class="category-card-title"><h2>Nightlife</h2></div>
        {% for activity in user.activities %}
            {% if activity.nightlife %}
                <div class="activity-card">
                    <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                    <div class="activity-type">
                        {% if activity.restaurant %}
                            <h4>Restaurant</h4>
                        {% endif %}
                        {% if activity.bakery %}
                            <h4>Bakery</h4>
                        {% endif %}
                        {% if activity.activity %}
                            <h4>Activity</h4>
                        {% endif %}
                        {% if activity.adult_ent %}
                            <h4>Adult entertainment</h4>
                        {% endif %}
                        {% if activity.nightclub %}
                            <h4>Nightclub</h4>
                        {% endif %}
                        {% if activity.music_venue %}
                            <h4>Music venue</h4>
                        {% endif %}
                        {% if activity.comedy_club %}
                            <h4>Comedy club</h4>
                        {% endif %}
                        {% if activity.outdoors %}
                            <h4>Outdoors</h4>
                        {% endif %}
                        {% if activity.visited %}
                            <h4>Visited</h4>
                        {% endif %}
                    </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="restaurant-link"></a>
        <div class="category-card-title"><h2>Restaurant</h2></div>
        {% for activity in user.activities %}
            {% if activity.restaurant %}
            <div class="activity-card">
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="bakery-link"></a>
        {% for activity in user.activities %}
            {% if activity.bakery %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Bakery</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Rertaurant</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="activity-link"></a>
        {% for activity in user.activities %}
        {% if activity.activity %}
        <div class="activity-card">
            <div class="category-card-title"><h2>Activity</h2></div>
            <div class="activity-title"><h3>{{ activity.title}}</h3></div>
            <div class="activity-type">
                {% if activity.Nightlife %}
                    <h4>Nightlife</h4>
                {% endif %}
                {% if activity.restaurant %}
                    <h4>Restaurant</h4>
                {% endif %}
                {% if activity.bakery %}
                    <h4>Bakery</h4>
                {% endif %}
                {% if activity.activity %}
                    <h4>Activity</h4>
                {% endif %}
                {% if activity.adult_ent %}
                    <h4>Adult entertainment</h4>
                {% endif %}
                {% if activity.nightclub %}
                    <h4>Nightclub</h4>
                {% endif %}
                {% if activity.music_venue %}
                    <h4>Music venue</h4>
                {% endif %}
                {% if activity.comedy_club %}
                    <h4>Comedy club</h4>
                {% endif %}
                {% if activity.outdoors %}
                    <h4>Outdoors</h4>
                {% endif %}
                {% if activity.visited %}
                    <h4>Visited</h4>
                {% endif %}
            </div>
            <div class="activity-descritption"><p>{{ activity.description}}</p></div>
            <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
            <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                <span class="badge badge-warning">Edit</span>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>  
    <div class="category-card">
        <a id="adult_ent-link"></a>
        {% for activity in user.activities %}
            {% if activity.adult_ent %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Adult Entertainment</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Restaurant</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
            </div>
            <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
            <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                <span class="badge badge-warning">Edit</span>
            </a>
            {% endif %}
        {% endfor %}
    </div>  
    <div class="category-card">
        <a id="nightclub-link"></a>
        {% for activity in user.activities %}
            {% if activity.nightclub %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Nightclub</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Restaurant</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="music_venue-link"></a>
        {% for activity in user.activities %}
            {% if activity.music_venue %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Music Venue</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Restaurant</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="comedy_club-link"></a>
        {% for activity in user.activities %}
            {% if activity.comedy_club %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Comedy Club</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Restaurant</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="outdoors-link"></a>
        {% for activity in user.activities %}   
            {% if activity.outdoors %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Outdoors</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Restaurant</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.visited %}
                        <h4>Visited</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="category-card">
        <a id="visited-link"></a>
        {% for activity in user.activities %}
            {% if activity.visited %}
            <div class="activity-card">
                <div class="category-card-title"><h2>Visited</h2></div>
                <div class="activity-title"><h3>{{ activity.title}}</h3></div>
                <div class="activity-type">
                    {% if activity.Nightlife %}
                        <h4>Nightlife</h4>
                    {% endif %}
                    {% if activity.restaurant %}
                        <h4>Restaurant</h4>
                    {% endif %}
                    {% if activity.bakery %}
                        <h4>Bakery</h4>
                    {% endif %}
                    {% if activity.activity %}
                        <h4>Activity</h4>
                    {% endif %}
                    {% if activity.adult_ent %}
                        <h4>Adult entertainment</h4>
                    {% endif %}
                    {% if activity.nightclub %}
                        <h4>Nightclub</h4>
                    {% endif %}
                    {% if activity.music_venue %}
                        <h4>Music venue</h4>
                    {% endif %}
                    {% if activity.comedy_club %}
                        <h4>Comedy club</h4>
                    {% endif %}
                    {% if activity.outdoors %}
                        <h4>Outdoors</h4>
                    {% endif %}
                </div>
                <div class="activity-descritption"><p>{{ activity.description}}</p></div>
                <button type="button" class="close" onClick="deleteActivity({{ activity.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ url_for('views.edit_activity', activity_id=activity.id) }}">
                    <span class="badge badge-warning">Edit</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</ul>
<a href="{{ url_for('views.add_activity') }}">
    <span class="badge badge-warning">Add activity</span>
</a>
{% endblock %}