{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <div class="form-container">
  <form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="username"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div class="already">
    <a href="/sign-up">Click here to create an account</a>
  </div>
</div>
  {% endblock %}