{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
  %}
  <div class="form-container">
  <form method="POST">
    <h2 align="center">Login</h2>
    <div class="form-group">
      <label for="username"><h3>Username</h3></label>
      <input
        type="username"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group" id="last">
      <label for="password"><h3>Password</h3></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-submit" id="submit"><h3>Login</h3></button>
  </form>
  <div class="already">
    <a href="/sign-up"><h4>Click here to create an account</h4></a>
  </div>
</div>

<nav class="nav-wom-bottom" id="nav-wom-bottom">
  <a class="portfolio-link" href="https://codeferree.co.uk/" data-toggle="tooltip" title="Visit Daniel Ferree's Portfolio" target="_blank"><h2>Built by Daniel Ferree</h2></a>
  <div class="social-links">
      <a href="https://www.linkedin.com/in/dferree/" data-toggle="tooltip" title="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
      <a href="https://github.com/dferree" data-toggle="tooltip" title="GitHub" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
  </div>
</nav>
  {% endblock %}