{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}

    <div class="form-container">
    <form method="POST">
      <h1 align="center">Create an account</h2>
      <div class="form-group">
        <label for="username"><h3>Username</h3></label>
        <input
          type="username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label for="first_name"><h3>First Name</h3></label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label for="password1"><h3>Password</h3></label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="password2"><h3>Repeat Password</h3></label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary"><h3>Create Account</h3></button>
    </form>
    <div class="already">
      <a href="/login"><h4>Already have an account? Log in here</h4></a>
    </div>

  </div>  

  <nav class="nav-wom-bottom" id="nav-wom-bottom">
    <a class="navbar-brand" href="#"><h2>Built by Daniel Ferree</h2></a>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/dferree/"><i class="fa-brands fa-linkedin-in fa-2x"></i></a>
      <a href="https://github.com/dferree"><i class="fa-brands fa-github fa-2x"></i></a>
    </div>
  </nav>
{% endblock %}